<<<<<<< Updated upstream

<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>

  <% if (info && info.length > 0) { %>
    <div style="color: green;"><%= info[0] %></div>
  <% } %>

  <% if (error && error.length > 0) { %>
    <div style="color: red;"><%= error[0] %></div>
  <% } %>

  <form action="/sessions/logon" method="POST">
    
     <label for="email">Email:</label>
    <input type="email" name="email" required><br>

    <label for="password">Password:</label>
    <input type="password" name="password" required><br>

    <button type="submit">Login</button>
  </form>
  








</body>
</html>
=======
<!DOCTYPE html>
<html>
<head>
  <title>Logon</title>
</head>
<body>
 <h1>Logon Page</h1>
  <% if (errors && errors.length > 0) { %>
    <ul>
      <% errors.forEach(function(err) { %>
        <li style="color:red;"><%= err %></li>
      <% }); %>
    </ul>
  <% } %>
  <% if (info && info.length > 0) { %>
    <ul>
      <% info.forEach(function(message) { %>
        <li style="color:green;"><%= message %></li>
      <% }); %>
    </ul>
  <% } %>

<form action="/sessions/logon" method="POST">
  
  
  
   <!-- CSRF Token if you're using csurf middleware -->
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <label>Email: <input type="email" name="email"required></label><br>
  <label>Password: <input type="password" name="password" required></label><br>
  <button type="submit">Logon</button>
</form>
</body>
</html>
>>>>>>> Stashed changes
